<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>{{ title }} Boris </title>
     <link rel="stylesheet" href="../css/style.css">
</head>
<body>
     <header class="header"> 
          <div class="title">
               Boris
          </div>
          {% include 'nav.html'%}
     </header>
     <div class="hero {{ pageClass}}">
          <h1> {{ title }} </h1>
     </div>
     {{ content | safe }}
     <script src="../js/script.js"></script>
</body>
</html>